<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>GoodBois</title>
</head>
<body>
    <div class="App">
        <h1>Random Good Bois</h1>
        <h2>Please click to see a good boi</h2>
        <button id="btn">Good Bois Here</button>
        <div id="content"></div>
    </div>
</body>
</html>