<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <title>GoodBois</title>
</head>
<body>
    <div class="App">
        <h1>Random Good Bois</h1>
        <h2>Please click to see a good boi</h2>
        <button id="btn">Good Bois Here</button>
        <div id="content"></div>
    </div>
    <script>
        $(document).ready(function() {
            $('#btn').on('click', function() {
                $.get('http://127.0.0.1:5000/getGoodBoi', function(data) {
                    if ($('#content').children().length === 0) {
                        $('#content').append(data)
                    } else {
                        $('#content').empty()
                        $('#content').append(data)
                    }
                })
            })
        })
    </script>
</body>
</html>